---
import Card from '../../components/Card';
import Comments from '../../components/Comments';
import Layout from '../../layouts/Layout.astro';
import { fetchComments, fetchPost } from '../../services/api';
import type { Post, Comment } from '../../types/post.types';

const { id } = Astro.params;

const post: Post = await fetchPost(Number(id)) 
const comments: Comment[] = await fetchComments(Number(id))
---

<Layout title={`Post ${id} - Jodel`}>
	<main class={"post-wrapper post-" + id}>
		<div class="post-heading">
			<h1>Post {id}</h1>
			<a href="/">Back home</a>
		</div>
		<Card post={post} />
		{id !== undefined ? <Comments postId={Number(id)} client:idle /> : null}
	</main>
</Layout>

<style is:global>
	.post {
		border: 1px solid #2d2d2d;
		border-radius: 10px;
		width: 80%;
		padding: 10px;
		margin: auto;
	}
	.post-wrapper h1, h2, p {
		margin: 0
	}
	.post-comment {
		background: #fefefe;
		padding: 10px 5px;
		width: calc(100% - 10px);
		border-radius: 10px;
	}

	.post-heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		margin-bottom: 10px;
	}

	.post-heading a {
		background-color: rgba(255, 255, 255, 0);
		border: 1px solid #8d8d8d;
		border-radius: 8px;
		text-decoration: none;
		text-align: center;
		display: inline-flex;
		align-items: center;
		padding: 10px 5px;
		cursor: pointer;
		transition: 0.5s all;
	}
  .post-heading a:hover {
		background-color: white;	
	}
</style>
