---
import AddPost from '../components/AddPost.astro';
import ListPosts from '../components/ListPosts';
import UserId from '../components/UserId';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Jodel">
	<main>
		<h1>Home</h1>
		<UserId client:load/>
		<AddPost />
		<ListPosts client:load />
	</main>
</Layout>

<style is:global>
	.list-posts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
  }
</style>
