---
import Card from "./Card.astro";

const posts = [
  {
    id: 1,
    text: "This is a post",
    comments: [
      "Comment one", 
      "Comment two"
    ]
  },
  {
    id: 2,
    text: "A second post asdfa  fsafasdf as df asdf as df a fasd f sad fsdafdas",
    comments: [
      "My comment xd", 
      "hahahahha"
    ]
  }
]
---

<div class="list-posts">
  { posts.map(p => <Card body={p.text} href={"/posts/" + p.id} />)}
</div>

<style>
  .list-posts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
  }
</style>
