---
import { fetchPosts } from "../services/api";
import type { Post } from "../types/post.types";
import Card from "./Card.astro";

const posts = await fetchPosts()
console.log(posts);
---

<div class="list-posts">
  { posts.map(p => <Card body={p.body} href={"/posts/" + p.id} id={p.id} />)}
</div>

<style>
  .list-posts {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
  }
</style>
